@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Poppins:wght@100;300&display=swap");
header {
  height: 100px; }
  header nav div {
    padding-top: 5px; }
    header nav div .navbar-brand {
      font-size: 35px;
      margin-left: 10px; }
    header nav div a {
      margin-top: 5px;
      padding-left: 35px; }
    header nav div .navbar-collapse {
      display: flex;
      justify-content: end;
      margin-right: 100px;
      margin-top: 0px; }

section .nuestro-inv {
  margin-left: 10px;
  margin-bottom: 50px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  font-size: 35px; }

.background-jordan {
  background-image: url(../img/jordans.jpg);
  background-repeat: none;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 1000px;
  margin-top: 0; }
  .background-jordan .bienvenidos {
    width: 425px;
    margin-left: 200px;
    padding-top: 200px;
    text-align: center; }
    .background-jordan .bienvenidos h1 {
      text-decoration: none;
      font-size: 35px;
      margin-bottom: 25px; }
    .background-jordan .bienvenidos h2 {
      font-family: 'Poppins', Thin;
      font-weight: 300;
      font-size: 25px;
      margin-bottom: 60px; }
    .background-jordan .bienvenidos a {
      text-decoration: none;
      color: white;
      padding: 25px;
      font-size: 25px;
      background-color: rgba(0, 110, 255, 0.4);
      border: #006eff 2px solid;
      border-radius: 50px;
      transition: 0.5s; }
    .background-jordan .bienvenidos a:hover {
      font-size: 30px;
      background-color: rgba(137, 43, 226, 0.4);
      border: #892be2 2px solid;
      transition: 0.5s;
      transform: scale(1.5); }

.productos-para-vender {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 35px;
  text-decoration: none;
  display: flex;
  justify-content: center; }

.productos {
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column; }
  .productos a {
    pointer-events: none; }
    .productos a div img {
      width: 363px;
      padding: 0;
      margin: 5px;
      height: 65%;
      border-radius: 5px; }
  .productos div:hover {
    transition-property: width;
    transition: 1.5s;
    transition-timing-function: ease;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    grid-template-areas: "imagen titulo" "imagen descripcion";
    width: 1750px; }
    .productos div:hover img {
      width: 600px;
      height: 470px;
      margin: 15px;
      grid-area: imagen;
      transition: 1.5s; }
    .productos div:hover h3 {
      grid-area: titulo;
      transition: 1.5s; }
    .productos div:hover p {
      grid-area: descripcion;
      border-top: none;
      transition: 1.5s; }

.todos-productos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .todos-productos a img {
    width: 360px;
    padding: 0;
    margin: 5px;
    height: 65%;
    border-radius: 5px; }
  .todos-productos a div:hover {
    transform: scale(1.05);
    transition: 0.5s; }

.apartados-productos {
  margin-left: 50px;
  margin-bottom: 75px;
  font-size: 18px; }
  .apartados-productos a {
    color: blueviolet; }
  .apartados-productos a:hover {
    color: blue;
    text-decoration: underline; }

footer {
  flex-wrap: wrap; }
  footer h5 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px; }
  footer .ig {
    margin-left: 50px; }
  footer p {
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 50px; }

header nav ul {
  list-style: none; }

a {
  text-decoration: none; }

* {
  margin: 0;
  padding: 0; }

.fixed {
  position: fixed;
  bottom: 20px;
  right: 20px; }

/*-------HEADER------*/
header {
  border-bottom: 2px rgba(128, 128, 128, 0.5) solid; }

/*-------MAIN------*/
.background-jordan {
  color: white; }

span {
  color: red; }

.todos-productos a div, .productos div {
  margin-bottom: 75px;
  height: 500px;
  width: 375px;
  text-align: center;
  transition: 0.5s;
  -moz-box-shadow: 6px 9px 9px 1px rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: 6px 9px 9px 1px rgba(0, 0, 0, 0.54);
  box-shadow: 6px 9px 9px 1px rgba(0, 0, 0, 0.54);
  border: 1px rgba(128, 128, 128, 0.5) solid;
  border-radius: 5px;
  pointer-events: auto; }

.todos-productos a div h3, .productos div h3 {
  margin-top: 20px;
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-family: 'Poppins', Light;
  font-weight: 500; }

.todos-productos a div p, .productos div p {
  display: inline-block;
  font-size: 17px;
  color: black;
  text-decoration: none;
  text-align: center;
  padding-top: 20px;
  padding-top: 15px;
  margin-top: 8px;
  margin-left: 30px;
  margin-right: 30px;
  border-top: 2px rgba(128, 128, 128, 0.5) solid; }

.productos {
  display: flex;
  justify-content: center; }

/*-------FOOTER------*/
footer {
  border-top: 2px rgba(128, 128, 128, 0.5) solid; }

@media screen and (max-width: 500px) {
  .todos-productos a div:hover {
    transform: none;
    transition: none; }
  .productos-para-vender {
    text-align: center;
    margin-left: 0; }
  .productos {
    align-items: center; }
    .productos a div:hover {
      transform: none;
      transition: none;
      display: grid;
      grid-template-columns: initial;
      grid-template-rows: initial;
      grid-template-areas: initial;
      width: 375px;
      height: 500px; }
      .productos a div:hover img, .productos a div:hover h3, .productos a div:hover p {
        transform: none !important;
        transition: none !important; }
      .productos a div:hover img {
        width: 363px !important;
        height: 323.69px !important;
        margin: 5px !important;
        grid-area: initial !important; }
      .productos a div:hover h3 {
        grid-area: initial !important;
        margin-top: 12px; }
      .productos a div:hover p {
        margin-top: 0;
        grid-area: initial !important;
        transition: none !important;
        border-top: rgba(128, 128, 128, 0.5) 2px solid; }
  .background-jordan {
    background: none;
    background-image: url(../img/jordans-fondo-500px.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    height: 600px; }
    .background-jordan .bienvenidos {
      width: 350px;
      color: white;
      margin-left: 75px;
      margin-top: -100px; }
      .background-jordan .bienvenidos h1 {
        margin-bottom: 150px; }
  .nuestro-inv {
    text-align: center; } }

@media screen and (max-width: 1280px) {
  .todos-productos a div:hover {
    transform: none;
    transition: none; }
  .background-jordan .bienvenidos a {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 20px;
    background-color: rgba(0, 110, 255, 0.4);
    border: #006eff 2px solid;
    border-radius: 10px; }
  .background-jordan .bienvenidos a:hover {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 20px;
    background-color: rgba(0, 110, 255, 0.4);
    border: #006eff 2px solid;
    border-radius: 10px; }
  .apartados-productos a:hover {
    text-decoration: underline;
    color: blueviolet;
    font-size: large; } }
