header{
    height: 100px;
    border-bottom: 2px rgba(128, 128, 128, 0.5) solid;
    nav{
        div{
            font-size: 35px;
            margin-left: 30px;
            .navbar-brand{
                font-size: 35px;
                margin-left: 30px;
            }
            a{
                span{
                    color: red;
                }
            .navbar-collapse{
                display: flex;
                justify-content: end;
                margin-right: 100px;
                }
            }
        }
    }
}