section{
    .nuestro-inv{
        margin-left: 10px;
        margin-bottom: 50px;
        margin-top: 25px;
        display: flex;
        justify-content: center;
        font-size: 35px;
    }
}
.bienvenidos{
    background-image: url(../img/jordans.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 950px;
    margin-top: 0;
    .background-jordan{
            width: 325px;
            margin-left: 250px;
            padding-top: 175px;
            text-align: center;
        h2{
            text-decoration: none;
            font-size: 30px;
            margin-bottom: 25px;
        }
        h3{
            font-family: 'Poppins', Thin;
            font-weight: 300;
            font-size: 20px;
            margin-bottom: 45px;
        }
        a{
            text-decoration: none;
            color: white;
            padding: 20px;
            font-size: 20px;
            background-color: rgba(0, 110, 255, 0.4);
            border:rgba(0, 110, 255, 1) 2px solid ;
            border-radius: 10px;
            transition: 0.5s;
        }
        a:hover{
            font-size: 25px;
            background-color: rgba(137, 43, 226, 0.4);
            border:rgb(137, 43, 226) 2px solid ;
            transition: 0.5s;
            transform: scale(1.5);
        }
    }
}
.productos-para-vender{
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 75px;
    font-size: 35px;
    text-decoration: none;
    display: flex;
    justify-content: initial;
}
.productos{
    display: grid;
    grid-template-columns: 1fr;
    flex-wrap: wrap;
    a{
        img{
            width: 363px;
            padding: 0;
            margin: 5px;
            height: 65%;
            border-radius: 5px;
        }
    }
    div:hover{
        transition-property: width;
        transition: 1.5s;
        transition-timing-function: ease;
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 2;
        grid-template-areas: 
        "imagen titulo"
        "imagen descripcion"
        ;
        width: 92%;
        img{
            width: 600px;
            height: 470px;
            margin: 15px;
            grid-area: imagen;
            transition: 1.5s;
        }
        h3{
            grid-area: titulo;
            transition: 1.5s;
        }
        p{
            grid-area: descripcion;
            border-top: none;
            transition: 1.5s;
        }
    }
}
.todos-productos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    a{
        img{
            width: 95%;
            padding: 0;
            margin: 5px;
            height: 65%;
        }
        div:hover{
            transform: scale(1.05);
            transition: 0.5s;
        }
    }
}
.apartados-productos{
    margin-left: 75px;
    margin-bottom: 75px;
    font-size: 18px;
    a{
        color: blueviolet;
    }
    a:hover{
        color: blue;
        text-decoration: underline;
    }
}

