@media screen and (max-width: 500px) {
    .todos-productos {
        a{
            div:hover{
                transform: none;
                transition: none;
            }
        }
    }
    .productos{
        display: flex;
        justify-content: center;
        .a-izq{
            margin-left: 0;
        }
        .a-der{
            margin-right: 0;
        }
        a{
        div:hover{
                transition: none;
                transform: none;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: none;
                margin-left: 50px;
                margin-right: 50px;
                width: 80%;
                img{
                    width: 363px;
                    height: 65%;
                    grid-area: none;
                    transition: none;
                    position: relative;
                    transform: none;
                }
                h3{
                    grid-area: none;
                    transition: none;
                    transform: none;
                }
                p{
                    grid-area: none;
                    transition: none;
                    border-top: none;
                    transform: none;
                }
            }
        }
    }
    .bienvenidos{
        background: none;
        background-image: url(../img/jordans-fondo-500px.jpg);
        background-repeat: none;
        background-size: cover;
        background-position: center;
        height: 600px;
        .background-jordan{
            width: 250px;
            color: rgb(79, 196, 235);
            margin-left: 125px;
            padding-top: 25px;
        }
    }
    .productos-para-vender{
        text-align: center;
        margin-left: 0;
    }
}

@media screen and (max-width: 1280px) {
    .todos-productos {
        a{
            div:hover{
                transform: none;
                transition: none;
            }
        }
    }
    .bienvenidos{
        .background-jordan{
            a{
                text-decoration: none;
                color: white;
                padding: 20px;
                font-size: 20px;
                background-color: rgba(0, 110, 255, 0.4);
                border:rgba(0, 110, 255, 1) 2px solid ;
                border-radius: 10px;
            }
            a:hover{
                text-decoration: none;
                color: white;
                padding: 20px;
                font-size: 20px;
                background-color: rgba(0, 110, 255, 0.4);
                border:rgba(0, 110, 255, 1) 2px solid ;
                border-radius: 10px;
            }
        }
    }
    .apartados-productos a:hover{
        text-decoration: underline;
        color: blueviolet;
        font-size: large;
    }
}
